* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// reset

body {
  min-height: 100%;
  overflow: hidden;
}


body {
  font-family: "PingFangSC-bp", "PingFangSC", "Microsoft YaHei",
    sans-serif;
  font-size: 14px;
}


a {
  text-decoration: none;


}

div {
  box-sizing: border-box;
}

ul {
  list-style: none;
}