.temDev1 {
  border: 1px solid #000;
  background:#ccc;
  box-sizing: border-box;
}
.temDev2 {
  border: 1px solid #000;
  background:rgb(226, 164, 50);
  box-sizing: border-box;
}
.temDev3 {
  border: 1px solid #000;
  background:rgb(230, 75, 75);
  box-sizing: border-box;
}